<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/forgot_password.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin | Forgot Password</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <span class="title">{{ title }}</span>

            {% if reset_password %}
            <!-- Reset Password Form -->
            <form action="{{ url_for('admin_reset_password', token=token) }}" method="post">
                <div class="msg">{{ msg }}</div>
                <div class="input-field">
                    <input type="password" name="new_password" placeholder="Enter new password" required>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" name="confirm_password" placeholder="Confirm new password" required>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
            {% else %}
            <!-- Forgot Password Form -->
            <form action="{{ url_for('admin_forgot_password') }}" method="post">
                <div class="msg">{{ msg }}</div>
                <div class="input-field">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
            <div class="link">
                <a href="{{ url_for('admin_login') }}">Back to Login</a>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='user/js/forgot_password.js') }}"></script>
</body>
</html>
