<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/manage_feedback.css') }}">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <a href="#"><img src="{{ url_for('static', filename='user/assets/assets3/Hotel_White.png') }}" alt="logo"></a>
            </div>

            <span class="logo_name">CodingLab</span>
        </div>

                <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{{ url_for('dashboard') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="{{ url_for('manage_rooms') }}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Room</span>
                </a></li>
                <li><a href="{{ url_for('manage_customers') }}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Customer</span>
                </a></li>
                <li><a href="{{ url_for('manage_bookings') }}">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Manage Booking</span>
                </a></li>
                <li><a href="{{ url_for('manage_feedback') }}">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Feedback</span>
                </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="admin_logout">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <a href="{{ url_for('admin_profile') }}"><img src="{{ url_for('static', filename='user/assets/pfl_dark.png') }}" class="profile" id="profileImage" /></a>
        </div>
    </section>

    <script src="{{ url_for('static', filename='admin/js/dashboard.js') }}"></script>
</body>
</html>